APP_NAME=Meteopego
APP_ENV=development
APP_DEBUG=true
APP_TIMEZONE=Europe/Rome

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=database
DB_USERNAME=username
DB_PASSWORD=password
DB_CHARSET=utf8mb4

MB_URL=http://192.168.1.xxx
MB_USERNAME=meteobridge
MB_PASSWORD=password
MB_TIMEOUT=10

STATION_NAME=Ventus W835
STATION_LOCATION=Marghera (VE)

REFRESH=30
SAVE_ONLY_IF_CHANGED=true
FORCE_SAVE_EVERY=600

TEMPERATURE_DELTA=0.1
HUMIDITY_DELTA=1
PRESSURE_DELTA=0.2
WIND_DELTA=0.5